body{
   background-color:rgba(0, 0, 0, 0.381);
    background-image: url(images/Netflix_wallpaper.tint.jpg);
    background-repeat: no-repeat;
    background-size: cover
}
h1{
   font-size: 80px;
   font-family: sans-serif;
   color:white;
   text-align: center;
   padding: block;
   margin-top: 200px;
   font-weight:bold;
}
h2{
    font-family:'Franklin Gothic Medium';
    color:white;
    text-align: center;
    padding: block;
    padding-left:100px;

 }
 img{
    padding-left:100px;
    padding-top:0px;
    align-items:top;
 }
 .email{
    display:inline;
    margin-left: 200px ;
    width:40% ;
    height:65px;
    color:rgb(221, 205, 205);
    background-color: rgba(32, 31, 31, 0.872);
    border-radius:5px;
    text-align: left;
    border: 2px grey;
 }
 .email a{
   padding-left: 15px;
   font-size: 17px;
 }
 .email:hover{
   cursor: text;
 }
 .signin{ 
   padding-right:20px;
    background-color:#E50914;
    border-radius:5px;
    text-decoration: none;
    color:white;
    border:none;
    font-family: sans-serif;
    float: right;
    font-size:20px;
 }
 .signin{
   cursor: text;
 }
.get{
   color: white;
   text-align: center;
   background-color: #E50914;
   border:none;
   border-radius: 5px;
   display:inline-block;
   height:65px;
   font-size: 20px;
   margin-left:10px;
   font-family: sans-serif;
   display:inline-block;
   padding:center;
}
.get:hover{
   cursor: pointer;
}
.lan{
   color:white;
   background-color: rgba(0, 0, 0, 0.288);
   float: right;
   border-radius: 3px;
   display:inline-block;
   border: 5px grey;
   margin-right:10px;
   font-size: 20px;
}
.lan:hover{
   border:15px rgb(103, 97, 97);
   transform:scale(1.5em);
}
p{
   color:white;
   font-family:sans-serif;
   text-align: center;
}